body{

    background:#202020;
    color:white;
    font-family:Arial;
    text-align:center;

}

.section{

    width:800px;

    margin:20px auto;

    padding:20px;

    border:1px solid gray;

    border-radius:10px;

}

/* -----------------------
   베이스 지판 전용
----------------------- */

.fretboardSection{

    width:95%;

    max-width:1800px;

}

#fretboard{

    position:relative;

    width:fit-content;

    margin:0 auto;

}

#fretboardImage{

    display:block;

    width:100%;

}

/* -----------------------
   지판 버튼
----------------------- */

.fretButton{

    position:absolute;

    width:20px;
    height:20px;

    border-radius:50%;

    background:rgba(255,0,0,0.45);

    border:1px solid white;

    color:white;

    font-size:12px;

    cursor:pointer;

}

/* -----------------------
   코드톤 버튼
----------------------- */

#noteButtons{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:10px;

}

#noteButtons button{

    width:60px;
    height:40px;

    font-size:16px;

    cursor:pointer;

}

/* -----------------------
   공통 버튼
----------------------- */

button{

    padding:10px 20px;

    font-size:16px;

}

/* -----------------------
   선택된 버튼
----------------------- */

.selected{

    background:rgba(59,130,246,0.65);

    color:white;

}